<div class="row">
  <div class="col-12">
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">Add Movie</h3>
      </div>
      <%= render 'form', movie: @movie %>
      <!-- /.card -->
    </div>
  </div>
</div>